@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: rgb(240, 225, 199);
    font-weight: bold;
}

hr{
    border-width: 5px;
    border-color: rgb(121, 89, 1);
}

header {
    background-color: rgba(76, 51, 19, 0.651);
    margin-bottom: 20px;
}

.logo-1 {
    width: 100px;
}

.navbar {
    text-align: center;
    font-size: 20px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    margin-bottom: 50px;
}

.carousel-caption {
    background-color: rgba(251, 239, 175, 0.747);
    border-radius: 5%;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(135, 88, 0);

}

.blockquote {
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 50px;
}

.horarios {
    margin-bottom: 50px;
}

@media (max-width: 576px) {
    .social-media {
        justify-content: space-evenly;
    }

    div.logo-1 {
        position: relative;

    }

}

